.icon {
	display: inline-block;
	margin: 2px;
	height: 16px;
	width: 16px;
}

/* ICONS */
.icon-bar {
	background: url('images/icons/bar.png') center center no-repeat;
}

.icon-fuel {
	background: url('images/icons/fuel.png') center center no-repeat;
}

.icon-parking {
	background: url('images/icons/parking.png') center center no-repeat;
}

.icon-drinking_water {
	background: url('images/icons/drinking_water.png') center center no-repeat;
}

.icon-masjid {
	background: url('<img src="<?=base_url()?>leaflet-panel-layers-master/examples/images/icons/masjid.png">') center center no-repeat;
}

/* MARKERS */
.leaflet-marker-icon {
	padding: 2px;
	text-align: center;
}

.marker-bar {
	background: url('images/markers/bar.png') center center no-repeat;
}

.marker-fuel {
	background: url('images/markers/fuel.png') center center no-repeat;
}

.marker-parking {
	background: url('images/markers/parking.png') center center no-repeat;
}

.marker-drinking_water {
	background: url('images/markers/drinking_water.png') center center no-repeat;
}